body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
}

.App {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.note-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.note-form input,
.note-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.note-form button {
  padding: 10px;
  font-size: 1rem;
  margin-top: 5px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.note-form button:hover {
  background-color: #0056b3;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.note-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.note-item h3 {
  margin: 0 0 10px;
}

.note-item p {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.note-item small {
  display: block;
  color: #777;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.note-item button {
  margin-right: 8px;
  padding: 6px 10px;
  font-size: 0.85rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note-item button:first-child {
  background-color: #007bff;
  color: #ffffff;
}

.note-item button:first-child:hover {
  background-color: #0056b3;
}

.note-item button:last-child {
  background-color: #dc3545;
  color: #fff;
}

.note-item button:last-child:hover {
  background-color: #b02a37;
}

.add-button {
  background-color: #007bff; /* синій */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 19px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.add-button:hover {
  background-color: #0056b3; /* темніший синій */
}

.add-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.search-input {
  padding: 10px;
  width: 100%;
  margin: 20px auto;
  font-size: 16px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
